SCREEGO_EXTERNAL_IP=dns:screenshare.iagoalonso.xyz
SCREEGO_SERVER_TLS=false
SCREEGO_SERVER_ADDRESS=127.0.0.1:5050
SCREEGO_TURN_ADDRESS=0.0.0.0:3478
SCREEGO_TURN_PORT_RANGE=50000:50200
SCREEGO_TRUST_PROXY_HEADERS=true
SCREEGO_AUTH_MODE=all
SCREEGO_USERS_FILE=/opt/screego/.users
SCREEGO_SESSION_TIMEOUT_SECONDS=0
SCREEGO_CLOSE_ROOM_WHEN_OWNER_LEAVES=true
SCREEGO_LOG_LEVEL=info
SCREEGO_PROMETHEUS=false
