SCREEGO_EXTERNAL_IP=screenshare.iagoalonso.xyz
SCREEGO_SERVER_TLS=true
SCREEGO_TLS_CERT_FILE=/opt/screego/certs/fullchain.pem
SCREEGO_TLS_KEY_FILE=/opt/screego/certs/privkey.pem
SCREEGO_SERVER_ADDRESS=0.0.0.0:5050
SCREEGO_TURN_ADDRESS=0.0.0.0:3478
SCREEGO_TRUST_PROXY_HEADERS=false
SCREEGO_AUTH_MODE=all
SCREEGO_USERS_FILE=/opt/screego/.users
SCREEGO_SESSION_TIMEOUT_SECONDS=0
SCREEGO_CLOSE_ROOM_WHEN_OWNER_LEAVES=true
SCREEGO_LOG_LEVEL=info
SCREEGO_PROMETHEUS=false
